@import '../node_modules/@blueprintjs/core/lib/scss/variables.scss';

.akisFullArea {
  height: 100%;
  width: 100%;
}

.akisScrollable {
  overflow: auto;
}

.akisFullHeight {
  height: 100%;
  padding: 0 !important;
}

.akisFullHeightAlt {
  height: 100%;
}

.akisColumn {
  height: 100%;
  border: thick solid $gray2;
  padding: 3px;
  overflow: auto;
}

.akisNoWrap {
  white-space: nowrap;
}

.bp3-tree-node-label {
  overflow: visible !important;
}

.akisCard {
  height: 100%;
  overflow: auto;
  border-radius: 0 !important;
}

.akisTextarea {
  overflow-wrap: normal;
  overflow-x: scroll;
  white-space: pre;
}

.akisButtonAlt {
  background: $gray5 !important;
}

.akisButtonActive {
  background: $orange5 !important;
}

.bp3-tree-node.bp3-tree-node-selected > .bp3-tree-node-content .bp3-icon {
  color: $blue5 !important;
}

.akisOverlayBackdropLight {
  background: $white !important;
  opacity: 0.1 !important;
}

.akisOverlayBackdropDark {
  background: $black !important;
  opacity: 0.1 !important;
}

.akisIndexEditPopover .bp3-popover-content {
  max-width: none !important;
}

.akisFilesListButton {
  justify-content: left !important;
}

.akisActiveButtonContainer button {
  background: $orange5 !important;
}

.akisPreviewTabsContainer {
  padding-bottom: 60px;
}

.akisLinkButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  display: inline;
  margin: 0;
  padding: 0;
  color: #106ba3;
}

.akisLinkButton:hover,
.akisLinkButton:focus {
  text-decoration: none;
}
