@import '../node_modules/@blueprintjs/core/lib/scss/variables.scss';

.react-codemirror2 {
  flex: 1 1 auto;
  margin-top: 0;
  height: 100%;
  position: relative;
}

.CodeMirror {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
}

.CodeMirror pre {
  font-family: 'Roboto Mono';
  font-weight: 400;
  font-style: normal;
}

.CodeMirror div.CodeMirror-cursor {
  background: $pt-intent-danger !important;
  width: 10px;
  border-style: none;
  opacity: 0.6;
}

.akisEditorMarker {
  background: $pt-text-selection-color;
}

.akisEditorMarkerAlt {
  background: $green5;
}

.akisEditorMarkerAlt2 {
  background: $lime3;
}

.CodeMirror-simplescroll-vertical div,
.CodeMirror-simplescroll-horizontal div {
  background: $orange4;
}

.CodeMirror-simplescroll-vertical {
  width: 12px !important;
}

.CodeMirror-simplescroll-horizontal {
  height: 12px !important;
}

.CodeMirror-selectedtext {
  background: $orange5 !important;
}

.akisCodeMirrorList .CodeMirror-wrap {
  border: thick solid $gray2;
}

.akisCodeMirrorList .CodeMirror {
  height: auto !important;
  position: static !important;
}

.akisCodeMirrorFilePathSuppl,
.akisCodeMirrorFilePathMain {
  width: 100%;
  padding: 2px;
}

.akisCodeMirrorFilePathSuppl {
  background: $green5;
}

.akisCodeMirrorFilePathMain {
  background: $blue5;
}
