@import '../node_modules/@blueprintjs/core/lib/scss/variables.scss';

@font-face {
  font-family: 'Roboto Mono';
  src: url('/fonts/roboto/mono/RobotoMono-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/roboto/roboto/Roboto-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

body,
html,
#root {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  padding: $pt-navbar-height 0 0 0;
  font-family: Roboto;
  font-weight: 400;
  font-style: normal;
}
